<launch>
  <param name="/use_sim_time" value="false"/>
  <node pkg="rosbag" type="record" name="record_lidar_rs"
       args="record -o /home/probook/catkin_ws/src/datmo/data/
        /camera/aligned_depth_to_color/camera_info
        /camera/aligned_depth_to_color/image_raw
        /camera/color/image_raw
        /camera/depth/color/points
        /tf
        /tf_static
       " />
</launch>
